* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

.heading {
  height: 4rem;
  color: white;
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
}

.selectionMenu {
  padding: 12px 0px;
  display: flex;
  justify-content: space-around;
}

.optionsMenu {
  padding: 12px 0px;
  display: flex;
  justify-content: space-evenly;
}

.selectTab {
  color: white;
  background-color: black;
  height: 2rem;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  overflow-x: auto;
}

.entry {
  margin: 0;
  padding: 0;
  border: 1.3px solid gray;
  width: 100%;
  height: 100%;
  /* aspect-ratio maintaines the square shape of the div */
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.visited {
}

.path {
  animation: pathAnimation 2s forwards;
  animation-delay: 0.5s;
}

.start {
  background-color: rgb(93, 235, 50);
  border-color: rgb(2, 126, 10);
}

.destination {
  background-color: rgb(50, 232, 235);
  border-color: rgb(2, 126, 126);
}

.wall {
  background-color: rgb(235, 50, 50);
  border-color: rgb(126, 2, 2);
}

.endPoint {
  background-color: yellow;
  animation: endPointAnimation 2s forwards;
  animation-delay: 0.5s;
}

.btn {
  background-color: rgb(231, 204, 163);
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 0 5px;
  box-shadow: 1px 1px #ffffff, 1px 1px #ffffff, 2px 2px #ffffff, 2px 2px #ffffff,
    2px 2px #ffffff, 3px 3px #ffffff, 3px 3px #ffffff, 4px 4px #ffffff;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 0px black, 0px 0px black, 1px 1px black, 1px 1px black,
    1px 1px black, 2px 2px black, 2px 2px black, 3px 3px black;
}

.btn2 {
  background-color: rgb(231, 204, 163);
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 0 5px;
  box-shadow: 1px 1px black, 1px 1px black, 2px 2px black, 2px 2px black,
    2px 2px black, 3px 3px black, 3px 3px black, 4px 4px black;
}

.btn2:active {
  transform: translateY(2px);
  box-shadow: 0px 0px black, 0px 0px black, 1px 1px black, 1px 1px black,
    1px 1px black, 2px 2px black, 2px 2px black, 3px 3px black;
}

.grid {
  border: 1.3px solid gray;
  margin: 30px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(21px, 1fr));
}

@keyframes pathAnimation {
  0% {
    background-color: yellow;
    scale: 1.5;
  }
  5% {
    background-color: yellow;
  }
  6% {
    background-color: #c5b7ff;
    scale: 1;
  }
  100% {
    background-color: #a294f9;
  }
}

@keyframes endPointAnimation {
  0% {
    scale: 1.3;
  }
  25% {
    scale: 1;
  }
}
